table{
  width: 100%;
  height: 10%;
  background: #fff;
margin: 0 auto;
}
tr:hover td {
  background-color: #dededede;
  cursor: pointer;
}

th{
  width: 40%;
  height: 20%;
  background: indigo;
  color: #fff;
  
}


td{
  max-width: 150px;
  height: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2%;
  background: rebeccapurple;
}
td:hover{
 width: 200px; 
}
.close--show{
  position: absolute;
  top: 4%;
  right: 5%;
  cursor: pointer;
}
.btn_del{
  width: auto;
  height: auto;
  padding: 2%;
  background: red;
  cursor: pointer;
}
